.quill {
  .ql-editor {
    min-height: 800px;
  }
}
.custom-checkbox {
  @apply relative;
  @apply border;
  @apply border-black;
  @apply rounded-sm;
  @apply w-4;
  @apply h-4;
  @apply cursor-pointer;
}
.custom-checkbox-checked {
  @extend .custom-checkbox;
  @apply text-primary;
  @apply border-primary;
}
.new-tag {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply bg-accent text-white pl-4 pr-2 h-10 absolute left-0 top-3;
  &::before {
    content: "";
    width: 0;
    height: 0;
    @apply border-accent;
    border-top-width: 1.25rem;
    border-right-width: 1.251rem;
    border-right-color: transparent;
    position: absolute;
    right: -1.25rem;
    top: 0;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    @apply border-accent;
    border-bottom-width: 1.25rem;
    border-right-width: 1.25rem;
    border-right-color: transparent;
    position: absolute;
    right: -1.25rem;
    bottom: 0;
  }
}

.bg-white-glass {
  background: linear-gradient(#ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  &:hover {
    background: linear-gradient(#fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  }
}

.video-background {
  background: url("/images/bg-ather.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #00000045;
  }
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 414px) {
  .video-foreground {
    width: 400%;
    left: -157%;
  }
}
